body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.panel {
  margin: 0;
  padding: 0;
  min-height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 51, 51);
  box-sizing: border-box;
}

.message {
  color: #f3f3f3;
}

.button-block {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

#canvas {
  width: 100vw;
  height: 85vh;
  margin: 0;
  padding: 0;
  display: block;
  border: 2px solid #505370;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  z-index: 2001;
  transform: translate(-50%, -50%);
  background-color: rgba(52, 52, 70, 0.95);
  box-shadow: 4px 18px 33px 9px rgba(34, 60, 80, 0.5);
  color: #fff;
}

.modal-content {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal-button {
  padding: 10px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

.error {
  background-color: rgba(121, 35, 75, 0.95);
}

.overlay {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
